* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    line-height: 1.5;
}

#menu {
    background: orange;
}

#menu ul {
    background: orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

#menu li {
    margin: 10px;
}

#menu li:hover {
    color: orange;
    background: #fff;
    border: #000;
    outline: none;
}

#menu ul i {
    margin: 10px;
}

@media screen and (min-width:576px) {
    #menu {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:992px) {
    #menu {
        display: grid;
        grid-template-columns: 1fr 1 fr 1fr 1fr;
    }
}

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/372882/pexels-photo-372882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center/cover no-repeat fixed;
    margin-top: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.header h1 {
    color: #fff;
    font-size: 50px;
}

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
    border: 2px solid orange;
}